<!DOCTYPE html>
<html>

<head>
    <title>Success Page</title>
</head>

<body>
    <h1>Welcome, Admin!</h1>

    {{!-- flag to be updated here --}}
    <p>flag: RG9IQ1RGe000eF9IZURfUnVtfQo=</p>
</body>

</html>
