<!DOCTYPE html>
<html>

<head>
    <title>Success Page</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f7f7f7;">
    <h1 style="text-align: center; color: #333; margin-top: 50px;">Welcome, {{email}}!</h1>
    <p style="text-align: center; color: #666;">flag: ???</p>
    <p style="text-align: center; color: #666;"> you should see a flag if you are admin.</p>
   
</body>

</html>